/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.navbar {
  z-index: 100;
  position: relative;
  top: 0;
  background-color: black;
}
